:root {
  --theme: white;
  --sub-theme: salmon;
  --font-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--theme);
  padding: 20px;
}
.link {
  text-decoration: none;
  color: var(--sub-theme);
  font-weight: bolder;
}
.login-container,
.register-container {
  margin: 0 auto;
  padding: 0px 50px 0px 50px;
  max-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--font-color);
  width: 100%;
  border: 2px solid var(--sub-theme);
  border-radius: 10px;
}
.login-container h1 {
  color: var(--font-color);
}
.login-input,
.register-input {
  /* width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid var(--sub-theme);
  border-radius: 5px;
  color: var(--font-color); */
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.2s ease;
}
.login-input:hover {
  border: 1px solid #333;
}
.login-input:focus {
  border: 1px solid #333;
  outline: none;
}
.btn {
  border: none;
  background-color: var(--sub-theme);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
}
.btn:hover {
  animation: pulse 0.5s ease-in-out;
}
/* Add hover animations */
@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.register-select {
  border: 2px solid var(--sub-theme);
  padding: 5px 10px;
  color: black;
}

.error {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -101%);
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: white;
  animation: messageAnim 3s 0s 1 ease;
  border-radius: 10px;
}
.error-warning {
  border: 2px solid orange;
}
.error-failure {
  border: 2px solid red;
}
.error-success {
  border: 2px solid lightgreen;
}
@keyframes messageAnim {
  0% {
    transform: translate(-50%, -101%);
  }
  50% {
    margin-top: 20px;
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -101%);
  }
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: space-around;
}

.homepage-header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid var(--sub-theme);
  border-radius: 10px;
}
.homepage-header button {
  margin-left: auto;
}
.homepage-btn {
  margin: 20px;
}
.take-attendance {
  max-width: 500px;
}
.btn {
  cursor: pointer;
  transition: 0.25s all;
}
.present {
  background-color: lightgreen;
}
.absent {
  background-color: lightcoral;
}
.take-attendance h1 {
  margin-bottom: 20px;
}
.take-attendance-header-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.take-attendance-select-container {
  align-items: center;
  display: flex;
}
.take-attendance-select-container:nth-child(2) {
  margin-left: 20px;
}
.take-attendance-today-date {
  font-size: 14px;
  margin-left: 20px;
  color: var(--sub-theme);
  font-weight: bolder;
  border: 2px solid var(--sub-theme);
  width: fit-content;
  padding: 5px 10px;
}
.take-attendance-btn {
  /* font-size: 12px; */
  padding: 5px 10px;
  font-size: 12px;
  background-color: var(--sub-theme);
  color: white;
  border-radius: 5px;
  border: 2px solid var(--sub-theme);
}
.take-attendance-btn:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}
.take-attendance-input {
  width: 100%;
}
.take-attendance-btn-and-input-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.student-container {
  border: 2px solid var(--sub-theme);
  margin-bottom: 20px;
  height: 400px;
  width: 100%;
  overflow-y: scroll;
}
.student {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student:hover {
  background-color: aliceblue;
}
.student-roll {
  font-weight: bolder;
  color: var(--sub-theme);
  font-size: 20px;
}
.student-name {
  font-weight: bolder;
}

.student-report {
  width: 500px;
}
.student-report-student {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.student-report-student h4:nth-child(2) {
  margin-left: 10px;
}
.student-report-student:hover {
  background-color: aliceblue;
}
body {
  position: relative;
}

.singleReport {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.admin-header {
  border: 2px solid var(--sub-theme);
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  display: flex;
}
.admin-logout-btn {
  margin-left: auto;
}
.link-btn {
  text-decoration: none;
  color: white;
}
.admin-add-student {
  display: flex;
  gap: 10px;
  max-width: 900px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.admin-delete-student {
  max-width: 500px;
  margin-bottom: 50px;
}
.search-and-input-container {
  display: flex;
  width: 100%;
  gap: 10px;
}
.student-name-container {
}
.admin-update-student {
  max-width: 900px;
}

.update-student-container {
  display: flex;
  margin: 10px 20px;
  align-items: center;
  gap: 10px;
}
.admin-delete-subject {
  max-width: 500px;
  margin-bottom: 50px;
}
.close-btn {
  cursor: pointer;
  position: absolute;
  background-color: var(--sub-theme);
  color: white;
  top: -5px;
  right: -5px;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
